h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
a {
    font-family: Source Sans Pro;
    color: #2E2E2E;
}

h1,
h2,
h3 {
    font-weight: 600;
}

h4,
h5,
h6,
p,
small,
a {
    font-weight: 400;
}

p {
    font-size: 16px;
    font-weight: 400;
}

a {
    font-size: 16px;
    font-weight: 400;

    &:hover {
        text-decoration: none;
        color: #F15025;
        transition: 0.2s;
    }
}

@media screen and (max-width: 959px) {
    h1 {
        margin-top: 0;
        font-size: 2.488rem;
    }

    h2 {
        font-size: 2.074rem;
    }

    h3 {
        font-size: 1.728rem;
    }

    h4 {
        font-size: 1.44rem;
    }

    h5 {
        font-size: 1.2rem;
    }

    small,
    .text_small {
        font-size: 0.833rem;
    }
}

@media screen and (min-width: 960px) {
    h1 {
        margin-top: 0;
        font-size: 3.052rem;
    }

    h2 {
        font-size: 2.441rem;
    }

    h3 {
        font-size: 1.953rem;
    }

    h4 {
        font-size: 1.563rem;
    }

    h5 {
        font-size: 1.25rem;
    }

    small,
    .text_small {
        font-size: 0.8rem;
    }
}

.btn {
    @extend p;

    border-radius: 0;

    @media screen and (max-width: 959px) {
        padding: 6px 12px;
    }

    @media screen and (min-width: 960px) {
        padding: 8px 16px;
    }

    &.btn-rm-primary {

        border: 2px solid #F15025;
        color: #FFFFFF;
        background-color: #F15025;

        &:hover {
            border: 2px solid #F15025;
            color: #F15025;
            background-color: #FFFFFF;
        }


        &.active {
            border: 2px solid #F15025;
            color: #F15025;
            background-color: #FFFFFF;

            &:hover {
                border: 2px solid #F8A892;
                color: #F8A892;
                background-color: #FFFFFF;
            }
        }

        &.disabled {
            border: 2px solid #E6E8E6;
            color: #CED0CE;
            background-color: #E6E8E6;
        }
    }

    &.btn-rm-secondary {


        border: 2px solid #2E2E2E;
        color: #FFFFFF;
        background-color: #2E2E2E;

        &:hover {
            border: 2px solid #2E2E2E;
            color: #2E2E2E;
            background-color: #FFFFFF;
        }


        &.active {
            border: 2px solid #2E2E2E;
            color: #2E2E2E;
            background-color: #FFFFFF;

            &:hover {
                border: 2px solid #a1a1a1;
                color: #a1a1a1;
                background-color: #FFFFFF;
            }
        }

        &.disabled {
            border: 2px solid #E6E8E6;
            color: #CED0CE;
            background-color: #E6E8E6;
        }
    }


}

.navbar-brand {
    @extend h4;

    font-style: normal;
    font-weight: 600;
    color: #F15025;

}

.nav-link {
    @extend h5;
    color: #2E2E2E;

    &:hover {
        color: #F15025;
    }

    &.active {
        color: #F15025;
        font-weight: 600;

        &:hover {
            color: #F15025;
        }
    }

    &.disabled {
        color: #CED0CE;

    }
}

.section-header-rm-desktop {


    background: #FFFFFF;
    padding: 0px;
    margin: 0px;

    .header-name {

        @media screen and (min-width: 960px) {
            margin: 301px 0px 0px 0px;
            padding: 0px 0px 0px 40px;

        }

        @media screen and (max-width: 959px) {
            padding: 40px 0px 20px 40px;

        }

        @media screen and (max-width: 540px) {
            background-color: #2E2E2E;

            h1,
            h2,
            h3,
            h4,
            p,
            small,
            a {
                color: #CED0CE;
            }
        }

        padding: 0px 0px 0px 0px;

        .button-header-name {
            display: flex;
            align-items: center;

            .button-items {
                display: flex;
                align-items: center;

                .button-icon {
                    padding-bottom: 0px;
                    margin-right: 8px;
                    font-size: 25px;
                    line-height: 0px;
                }
            }

            .button-social-media {
                text-decoration: none;

                @extend h3;
                padding: 0px;
                margin: 0px 5px 0px 0px;

                &:hover {
                    color: #F15025;
                }
            }
        }
    }

    .header-photo {

        img {
            margin-top: 60px;

            @media screen and(max-width: 959px) {
                max-height: 600px;
            }

            @media screen and(min-width: 960px) {
                max-height: 600px;
            }
        }
    }

}

.section-portofolio-rm-desktop {
    background-color: #2E2E2E;
    padding: 105px 50px;

    h2,
    p {
        color: #FFFFFF;
    }

    .header-portofolio {
        max-height: 633px;
        max-width: 1211px;
        margin: 83px 0 48px;
        background-color: #ffffff;
    }


}