h1,
h2,
h3,
.section-header-rm-desktop .header-name .button-header-name .button-social-media,
h4,
.navbar-brand,
h5,
.nav-link,
h6,
p,
.btn,
small,
a {
  font-family: Source Sans Pro;
  color: #2E2E2E;
}

h1,
h2,
h3,
.section-header-rm-desktop .header-name .button-header-name .button-social-media {
  font-weight: 600;
}


h4,
.navbar-brand,
h5,
.nav-link,
h6,
p,
.btn,
small,
a {
  font-weight: 400;
}


p,
.btn {
  font-size: 16px;
  font-weight: 400;
}

a {
  font-size: 16px;
  font-weight: 400;
}

a:hover {
  text-decoration: none;
  color: #F15025;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 959px) {
  h1 {
    margin-top: 0;
    font-size: 2.488rem;
  }
  h2 {
    font-size: 2.074rem;
  }
  
  h3,
  .section-header-rm-desktop .header-name .button-header-name .button-social-media {
    font-size: 1.728rem;
  }
  
  h4,
  .navbar-brand {
    font-size: 1.44rem;
  }
  
  h5,
  .nav-link {
    font-size: 1.2rem;
  }
  small,
  .text_small {
    font-size: 0.833rem;
  }
}

@media screen and (min-width: 960px) {
  h1 {
    margin-top: 0;
    font-size: 3.052rem;
  }
  h2 {
    font-size: 2.441rem;
  }
  
  h3,
  .section-header-rm-desktop .header-name .button-header-name .button-social-media {
    font-size: 1.953rem;
  }
  
  h4,
  .navbar-brand {
    font-size: 1.563rem;
  }
  
  h5,
  .nav-link {
    font-size: 1.25rem;
  }
  small,
  .text_small {
    font-size: 0.8rem;
  }
}

.btn {
  border-radius: 0;
}

@media screen and (max-width: 959px) {
  .btn {
    padding: 6px 12px;
  }
}

@media screen and (min-width: 960px) {
  .btn {
    padding: 8px 16px;
  }
}

.btn.btn-rm-primary {
  border: 2px solid #F15025;
  color: #FFFFFF;
  background-color: #F15025;
}

.btn.btn-rm-primary:hover {
  border: 2px solid #F15025;
  color: #F15025;
  background-color: #FFFFFF;
}

.btn.btn-rm-primary.active {
  border: 2px solid #F15025;
  color: #F15025;
  background-color: #FFFFFF;
}

.btn.btn-rm-primary.active:hover {
  border: 2px solid #F8A892;
  color: #F8A892;
  background-color: #FFFFFF;
}

.btn.btn-rm-primary.disabled {
  border: 2px solid #E6E8E6;
  color: #CED0CE;
  background-color: #E6E8E6;
}

.btn.btn-rm-secondary {
  border: 2px solid #2E2E2E;
  color: #FFFFFF;
  background-color: #2E2E2E;
}

.btn.btn-rm-secondary:hover {
  border: 2px solid #2E2E2E;
  color: #2E2E2E;
  background-color: #FFFFFF;
}

.btn.btn-rm-secondary.active {
  border: 2px solid #2E2E2E;
  color: #2E2E2E;
  background-color: #FFFFFF;
}

.btn.btn-rm-secondary.active:hover {
  border: 2px solid #a1a1a1;
  color: #a1a1a1;
  background-color: #FFFFFF;
}

.btn.btn-rm-secondary.disabled {
  border: 2px solid #E6E8E6;
  color: #CED0CE;
  background-color: #E6E8E6;
}

.navbar-brand {
  font-style: normal;
  font-weight: 600;
  color: #F15025;
}

.nav-link {
  color: #2E2E2E;
}

.nav-link:hover {
  color: #F15025;
}

.nav-link.active {
  color: #F15025;
  font-weight: 600;
}

.nav-link.active:hover {
  color: #F15025;
}

.nav-link.disabled {
  color: #CED0CE;
}

.section-header-rm-desktop {
  background: #FFFFFF;
  padding: 0px;
  margin: 0px;
}

.section-header-rm-desktop .header-name {
  padding: 0px 0px 0px 0px;
}

@media screen and (min-width: 960px) {
  .section-header-rm-desktop .header-name {
    margin: 301px 0px 0px 0px;
    padding: 0px 0px 0px 40px;
  }
}

@media screen and (max-width: 959px) {
  .section-header-rm-desktop .header-name {
    padding: 40px 0px 20px 40px;
  }
}

@media screen and (max-width: 540px) {
  .section-header-rm-desktop .header-name {
    background-color: #2E2E2E;
  }
  .section-header-rm-desktop .header-name h1,
  .section-header-rm-desktop .header-name h2,
  .section-header-rm-desktop .header-name h3,
  .section-header-rm-desktop .header-name .button-header-name .button-social-media,
  .section-header-rm-desktop .header-name h4,
  .section-header-rm-desktop .header-name .navbar-brand,
  .section-header-rm-desktop .header-name p,
  .section-header-rm-desktop .header-name .btn,
  .section-header-rm-desktop .header-name small,
  .section-header-rm-desktop .header-name a {
    color: #CED0CE;
  }
}

.section-header-rm-desktop .header-name .button-header-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-header-rm-desktop .header-name .button-header-name .button-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-header-rm-desktop .header-name .button-header-name .button-items .button-icon {
  padding-bottom: 0px;
  margin-right: 8px;
  font-size: 25px;
  line-height: 0px;
}

.section-header-rm-desktop .header-name .button-header-name .button-social-media {
  text-decoration: none;
  padding: 0px;
  margin: 0px 5px 0px 0px;
}

.section-header-rm-desktop .header-name .button-header-name .button-social-media:hover {
  color: #F15025;
}

.section-header-rm-desktop .header-photo img {
  margin-top: 10px;
}

@media screen and (max-width: 959px) {
  .section-header-rm-desktop .header-photo img {
    max-height: 600px;
  }
}

@media screen and (min-width: 960px) {
  .section-header-rm-desktop .header-photo img {
    max-height: 600px;
  }
}

.section-portofolio-rm-desktop {
  background-color: #2E2E2E;
  padding: 105px 50px;
}

.section-portofolio-rm-desktop h2,
.section-portofolio-rm-desktop p,
.section-portofolio-rm-desktop .btn {
  color: #FFFFFF;
}

.section-portofolio-rm-desktop .header-portofolio {
  max-height: 633px;
  max-width: 1211px;
  margin: 83px 0 48px;
  background-color: #ffffff;
}
/*# sourceMappingURL=main.css.map */